.footer {
    background-color: $grisOscuro;
    padding: calc($separacion/2);
    margin: 0;

    .navegacion {
        opacity: 1;
        visibility: visible;
    }

    .contenedor-footer {
        padding-top: calc($separacion/2);
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}