.barra {
    display: flex;
    flex-direction: column;
    padding: 3rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    @include tablet {
        display: flex;
        align-items: center;
    }

    a {
        margin-right: 2rem;
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;
    }
}